body {
    background-color: #090f1e;
    color: white;
}

table {
    border-collapse: collapse;
}

/* Bet styles */
.bet-general-table {
    border: none;
}

.bet-table {
    width: 450px;
    margin-bottom: 8px;
    padding: 0;
}

/* Radius of table corners */
.bet-table thead tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

.bet-table thead tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

.bet-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

.bet-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.bet-table tbody tr td:last-child button {
    border-bottom-right-radius: 6px;
}

.bet-table thead {
    background-image: linear-gradient(to right, #108de7 , #0855c4);
}

.bet-table tbody {
    background-color: #edf2ff;
}

.bet-table-stage {
    color: #fff;
    padding: 8px;
}

.bet-table-coefficient-number {
    width: 80px;
    color: #b1d1ff;
    padding: 8px;
    text-align: center;
}

.bet-table-teams {
    padding: 5px 5px 5px 8px;
    color: black;
}

.bet-table-coefficient {
    padding: 0;
}

.bet-coefficient-btn {
    cursor: pointer;
    width: 100%;
    height: 48px;
    border: 0;
    outline: none;
    padding: 0;
    font-weight: bold;
    background-color: #dce4f9;
}

.bet-coefficient-btn:hover {
    background-color: #202635;
    color: #fff;
}

/* User bet styles */
.user-bet-general-table {
    border: none;
}

.user-bet-table {
    width: 430px;
    margin-bottom: 8px;
}

/* Radius of table corners */
.user-bet-table thead tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

.user-bet-table thead tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

.user-bet-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

.user-bet-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.user-bet-first-row {
    background-image: linear-gradient(to left, #233358, #141b2e);
}

.user-bet-second-row {
    background-image: linear-gradient(to left, #586fa7, #272f40);
}

.user-bet-third-row {
    background-image: linear-gradient(to left, #8facf1, #445270);
}

.user-bet-stage {
    padding: 14px;
}

.user-bet-team-names {
    width: 160px;
    padding: 5px 14px;
}

.user-bet-winning-team-name {
    padding: 10px 14px;
}

.user-bet-coefficient {
    padding: 10px 14px;
}

.user-bet-amount {
    padding: 6px 14px;
}

.user-bet-status {
    color: white;
    padding: 6px 14px;
}

.user-bet-status.pending {
    background-image: linear-gradient(to left, #414141, #1d1d1d);
}

.user-bet-status.won {
    background-image: linear-gradient(to left, #0f9b0f, #052c16);
}

.user-bet-status.lost {
    background-image: linear-gradient(to left, #dd1818, #410e0e);
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #090f1e;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}