<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bets</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<h1>Available bets:</h1>
<div th:if="${activeBets != null}">
    <table class="bet-general-table">
        <tr th:each="bet : ${activeBets}">
            <td>
                <table class="bet-table">
                    <thead>
                        <tr>
                            <td class="bet-table-stage" th:text="${bet.stage}"></td>
                            <td class="bet-table-coefficient-number">1</td>
                            <td class="bet-table-coefficient-number">2</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bet-table-teams" th:utext="${bet.teamA.name} + ' <br /> ' + ${bet.teamB.name}"></td>
                            <td class="bet-table-coefficient">
                                <button class="bet-coefficient-btn"
                                        th:text="${bet.coefficientTeamA}" th:bet-id="${bet.id}" th:stage="${bet.stage}"
                                        th:team-a-name="${bet.teamA.name}" th:team-b-name="${bet.teamB.name}"
                                        th:winning-team="${bet.teamA.name}" th:winning-team-coefficient="${bet.coefficientTeamA}"
                                        onclick="showMakeBetPopup(this.getAttribute('bet-id'), this.getAttribute('stage'),
                                        this.getAttribute('team-a-name'), this.getAttribute('team-b-name'),
                                        this.getAttribute('winning-team'),this.getAttribute('winning-team-coefficient'))"></button>
                            </td>
                            <td class="bet-table-coefficient">
                                <button class="bet-coefficient-btn"
                                        th:text="${bet.coefficientTeamB}" th:bet-id="${bet.id}" th:stage="${bet.stage}"
                                        th:team-a-name="${bet.teamA.name}" th:team-b-name="${bet.teamB.name}"
                                        th:winning-team="${bet.teamB.name}" th:winning-team-coefficient="${bet.coefficientTeamB}"
                                        onclick="showMakeBetPopup(this.getAttribute('bet-id'), this.getAttribute('stage'),
                                        this.getAttribute('team-a-name'), this.getAttribute('team-b-name'),
                                        this.getAttribute('winning-team'),this.getAttribute('winning-team-coefficient'))"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
<br>

<input type="number" id="user-id-to-find-bets" placeholder="User ID">
<button onclick="findUserBets()">Find user bets</button>

<div id="make-bet-popup" class="popup">

    <div class="popup-content">
        <span class="close-btn">&times;</span>
        <p id="stage"></p>
        <p id="teams"></p>
        <p id="winning-team"></p>
        <p id="coefficient"></p>
        <input id="user-id-to-make-bet" placeholder="User ID">
        <input id="bet-amount" placeholder="Amount">
        <button id="make-bet-btn">Make bet</button>
    </div>

</div>

<div th:if="${user}">
    <p th:text="${user.nickname}"></p>
    <p th:text="${user.balance} + ' JURCOINS'"></p>
</div>

<script>

    function showMakeBetPopup(betId, stage, teamAName, teamBName, winningTeamName, winningTeamCoefficient) {
        document.getElementById("stage").innerText = stage;
        document.getElementById("teams").innerText = teamAName + " VS " + teamBName;
        document.getElementById("winning-team").innerText = winningTeamName;
        document.getElementById("coefficient").innerText = winningTeamCoefficient;
        let popup = document.getElementById("make-bet-popup");
        let span = document.getElementsByClassName("close-btn")[0];
        let btn = document.getElementById("make-bet-btn");
        popup.style.display = "block";

        span.onclick = function () {
            popup.style.display = "none";
        }

        btn.onclick = function () {
            sendAddUserBetRequest(betId, winningTeamName, winningTeamCoefficient);
        };

        window.onclick = function (event) {
            if (event.target === popup) {
                popup.style.display = "none";
            }
        }
    }

    function sendAddUserBetRequest(betId, winningTeamName, winningTeamCoefficient) {
        let userId = document.getElementById("user-id-to-make-bet").value;
        let amount = document.getElementById("bet-amount").value;
        let url = "/userBet";

        let xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        let request = JSON.stringify({
            "userId": userId,
            "betId": betId,
            "winningTeamName": winningTeamName,
            "winningTeamCoefficient": winningTeamCoefficient,
            "amount": amount
        });
        xhr.send(request);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let responseObject = JSON.parse(this.responseText);
                if (responseObject.errors != null) {
                    alert("❌ Error: " + responseObject.errors[0].field + " " + responseObject.errors[0].message);
                } else {
                    document.getElementById("make-bet-popup").style.display = "none";
                    alert("✔ Your bet has been made");
                }
            }
        };
    }

    function findUserBets() {
        let id = document.getElementById("user-id-to-find-bets").value;
        window.location.href = "/user/" + id + "/bets";
    }

</script>
</body>
</html>