<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bets</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<h1>Available bets:</h1>
<div th:if="${activeBets != null}">
    <table>
        <tr th:each="bet: ${activeBets}">
            <td>
                <table>
                    <tr>
                        <th th:text="${bet.stage}"></th>
                        <th>1</th>
                        <th>2</th>
                    </tr>
                    <tr>
                        <td th:text="${bet.teamA.name + ' VS ' + bet.teamB.name}"></td>
                        <td>
                            <button th:text="${bet.coefficientTeamA}" onclick="showMakeBetPopup()"></button>
                        </td>
                        <td>
                            <button th:text="${bet.coefficientTeamB}" onclick="showMakeBetPopup()"></button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div id="makeBetPopup" class="popup">

    <div class="popup-content">
        <span class="close-btn">&times;</span>
        <p>Some text...</p>
    </div>

</div>

<script>

    function showMakeBetPopup() {
        let popup = document.getElementById("makeBetPopup");
        let span = document.getElementsByClassName("close-btn")[0];
        popup.style.display = "block";

        span.onclick = function () {
            popup.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === popup) {
                popup.style.display = "none";
            }
        }
    }

</script>
</body>
</html>