<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
<h1>Log in</h1>
<div th:if="${errors != null}">
    <table>
        <tr th:each="error : ${errors}">
            <td th:text="${error.field} + ' ' + ${error.message}"></td>
        </tr>
    </table>
</div>
<form action="/login" th:object="${request}" method="post">
    <input type="text" th:field="${request.nickname}" placeholder="Nickname"/>
    <input type="text" th:field="${request.password}" placeholder="Password"/>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>