<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User bets</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<h1>User bets:</h1>
<div th:if="${userBets != null}">
    <table class="user-bet-general-table">
        <tr th:each="userBet : ${userBets}">
            <td>
                <table class="user-bet-table">
                    <thead>
                        <tr class="user-bet-first-row">
                            <td class="user-bet-stage" th:text="${userBet.bet.stage}"></td>
                            <td class="user-bet-team-names" th:utext="${userBet.bet.teamA.name} + ' <br /> ' + ${userBet.bet.teamB.name}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="user-bet-second-row">
                            <td class="user-bet-winning-team-name" th:text="${userBet.winningTeam.name}"></td>
                            <td class="user-bet-coefficient" th:text="${userBet.winningTeamCoefficient}"></td>
                        </tr>
                        <tr class="user-bet-third-row">
                            <td class="user-bet-amount" th:text="${userBet.amount}"></td>
                            <td class="user-bet-status" th:text="${userBet.status}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<div th:if="${errors != null}">
    <table>
        <tr th:each="error : ${errors}">
            <td th:text="${error.field + ' ' + error.message}"></td>
        </tr>
    </table>
</div>

<div th:if="${user}">
    <p th:text="${user.nickname}"></p>
    <p th:text="${user.balance} + ' JURCOINS'"></p>
</div>

<script>
    window.onload = function () {
        let userBetStatuses = document.getElementsByClassName("user-bet-status");
        for (let i = 0; i < userBetStatuses.length; i++) {
            if (userBetStatuses[i].innerHTML === "PENDING") {
                userBetStatuses[i].classList.add("pending");
            } else if (userBetStatuses[i].innerHTML === "WON") {
                userBetStatuses[i].classList.add("won");
            } else if (userBetStatuses[i].innerHTML === "LOST") {
                userBetStatuses[i].classList.add("lost");
            }
        }
    }
</script>
</body>
</html>